<script src="~/js/addMovieToFavourites.js" type="module"></script>

   @if (ViewBag.IsLoggedIn)
{
    
        @if (ViewBag.IsFavourite)
        {
            <div id="action-div" class="unfav-wrapper">
            <i class="fa fa-heart text-standard fav-icon" value="unfav"></i>
            <p class="text-standard fav-text">Премахни от любими</p>
            <p id="action" hidden>unfav</p>
            </div>
        }
        else
        {
            <div id="action-div" class="fav-wrapper">
            <i class="fa fa-heart-o text-standard fav-icon" value="fav"></i>
            <p class="text-standard fav-text">Добави в любими</p>
            <p id="action" hidden>fav</p>
    </div>
        }
}
<script type="text/javascript">
    let favIconElement=document.querySelector('.fav-icon');
    favIconElement.addEventListener('click',()=>{
        let navigatorElement=document.querySelector('#action');
        let value=navigatorElement
            .textContent;

        if(value=='fav'){
            $.ajax({
            type: "POST",
            url: "@Url.Action("AddMovieToFavourites")",
            data: { id: '@ViewBag.MovieId'}
            })
            .then((result)=>{
                navigatorElement.textContent='unfav';
                let wrapperElement=document.querySelector('#action-div');
                let favTextElemen=document.querySelector('.fav-text'); 
                wrapperElement.classList.remove('fav-wrapper');
                wrapperElement.classList.add('unfav-wrapper');
                favTextElemen.textContent='Премахни от любими';
            });
        } else {
            $.ajax({
            type: "POST",
            url: "@Url.Action("RemoveMovieFromFavourites")",
            data: { id: '@ViewBag.MovieId'}
            })
            .then((result)=>{
                navigatorElement.textContent='fav';
                let wrapperElement=document.querySelector('#action-div');
                let favTextElemen=document.querySelector('.fav-text');
                wrapperElement.classList.remove('unfav-wrapper');
                wrapperElement.classList.add('fav-wrapper');
                favTextElemen.textContent='Добави в любими';
            });
        }
    })
</script>