@if (ViewBag.IsLoggedIn)
{

    <div class="rate-wrapper">
        @if (ViewBag.HasRating)
        {
            <i class="fa fa-star text-standard rate-icon"></i>
            <p class="text-standard">@ViewBag.Rating/10</p>
            <button id="rate-toggle" class="btn-danger rated" hidden>8/10</button>
        }
        else
        {
                <i class="fa fa-star-o text-standard rate-icon"></i>
                <p class="text-standard">Оцени</p>
            <button id="rate-toggle" class="btn-danger unrated" hidden>Rate</button>
        }
    </div>


    <div class="rate-div" hidden>
        @for (int i = 0; i < 10; i++)
        {
            <button class=btn-primary value=@(i+1)>@(i+1)</button>
        }
        <input id="rating-input" class="disabled" value="">
        <button id="rate" disabled>Оцени</button>
        <button class="close-button">X</button>
    </div>
}

<script type="text/javascript">
    let inputElement=document.querySelector('#rating-input');
    let rateButtonElement=document.querySelector('#rate');

    let rateToggleElement=document.querySelector('#rate-toggle');

    rateButtonElement.addEventListener('click', ()=>{
        let inputValue=inputElement.value;
        $.ajax({
        type: "POST",
        url: "@Url.Action("RateMovie")",
        data: { movieId: '@ViewBag.MovieId', value: Number(inputValue)}
        })
        .then((result)=>{
            let rating=JSON.stringify(result);
            console.log(rating);
            rateToggleElement.textContent=`${inputValue}/10`;
        })
        .fail((result)=>{
        let rating=JSON.stringify(result);
            console.log(rating);
            rateToggleElement.textContent=`${inputValue}/10`;});
    })
</script>