@using Core.ViewModels
@model string

<div class="alert error-custom alert-dismissable">
    <a href="javascript:window.history.back()" class="close text-standard" aria-label="close">×</a>
    <strong>Error!</strong>
    @Model
</div>