@using Infrastructure.Models
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Builder
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject IViewLocalizer localizer
@inject IOptions<RequestLocalizationOptions> options

@{
    var language = Context.Features.Get<IRequestCultureFeature>();

    var languageList = options.Value.SupportedUICultures
                       .Select(c => new SelectListItem { Value = c.Name, Text = c.Name })
                       .ToArray();
}


<ul class="navbar-nav">
    <li>
        <form id="search-form" asp-controller="Movie" asp-action="All" method="post" class="form-inline my-2 my-lg-0">
            <div class="search">
                <input class="form-control mr-sm-2 searchbar" type="search" name="search" placeholder=@localizer["SearchPlaceholder"] aria-label="Search" />
                <i class="search-icon fa fa-search text-standard" style="font-size: 22px"></i>
            </div>
        </form>
    </li>
</ul>

<script type="text/javascript">
    let searchElement=document.querySelector('.search-icon');

    searchElement.addEventListener('click',()=>{
        let formElement=document.querySelector('#search-form');
        formElement.submit();
    })
</script>