@using Core.ViewModels.Genre
@model IEnumerable<ListGenreModel>

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @item.MovieCount
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id=@item.Id><span class="fa fa-edit text-standard"></span></a>
                    <a asp-action="Delete" asp-route-id=@item.Id><span class="fa fa-trash text-standard"></span></a>
                </td>
            </tr>
        }
    </tbody>
</table>
