@using Core.ViewModels.Genre
@model IEnumerable<ListGenreModel>

@{
    ViewData["Title"] = "View";
    ListGenreModel[] genres = Model as ListGenreModel[];
}

<h1 class="text-standard edit-headline">Жанрове</h1>

<table class="table" style="position: relative; top: 3vw;">
    <thead>
        <tr>
            <th>Име</th>
            <th>Брой филми</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = ViewBag.ActivePage * ViewBag.PageLimit; i < ViewBag.PageLimit * (ViewBag.ActivePage + 1) && i < genres.Length; i++)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => genres[i].Name)
                    <a asp-action="Edit" asp-route-id=@genres[i].Id><span class="fa fa-edit text-standard"></span></a>
                    <a asp-action="Delete" asp-route-id=@genres[i].Id><span class="fa fa-trash text-standard"></span></a>
                </td>
                <td>
                    @genres[i].MovieCount
                </td>
            </tr>
        }
    </tbody>
</table>

<partial name="_PaginationPartial" />