@using Core.ViewModels.Genre
@using Infrastructure.Models
@model EditGenreModel

@{
    ViewData["Title"] = "Редактирай жанр";
}

<h1 class="text-standard edit-headline">Редактирай</h1>
<div class="col-md-4 form-container">
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" value=@Model.Id />
        <div class="form-group">
            <input asp-for="Name" placeholder="Име" class="form-control admin-input" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Редактирай" class="edit-btn form-submit" />
        </div>
    </form>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
