@using Core.ViewModels.User
@model UserRoleModel

@{
    ViewData["Title"] = "User Roles";
    SelectListItem[] items = (SelectListItem[])ViewBag.Roles;
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.css">
<script src="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.js"></script>
<link rel="stylesheet" href="~/css/roles.css" />

<div class="row">
    <div class="col-4 form-container">
        <form id="roles" method="post">
            <input type="hidden" name="Id" value=@Model.Id />
            <input type="hidden" name="Name" value=@Model.Name />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <h3 class="text-standard">Потребител: @Html.DisplayFor(m=>m.Name)</h3>
            </div>
            <div class="form-floating">
                <div class="form-group">
                    <label id="roles-label" class="text-standard">Роли</label>
                    <select id="choices-multiple-remove-button" asp-for="RoleNames" asp-items=@items class="form-control">
                    </select>
                </div>
            </div>
            <div class="row">&nbsp;</div>
            <div class="row">
                <div class="col-4">
                    <input type="submit" value="Напред" class="create-btn form-submit" />
                </div>
            </div>
        </form>
    </div>
</div>