@using Core.ViewModels.User
@model LoginUserModel

<link rel="stylesheet" href="~/css/auth.css" />

<div class="headline-div">
    <img class="headline-icon" src="~/img/headline.png" />
    <p class="text-standard headline">Вход</p>
</div>

<div id="auth-container">
    <div id="image-container">
        <img src="~/img/auth.png">
    </div>
    <form id="auth-form" method="post" asp-action="Login">
        <div asp-validation-summary="ModelOnly" class="danger"></div>
        <div class="form-group">
            <input asp-for="Email" class="form-control auth-input" placeholder="Имейл">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="password" asp-for="Password" class="form-control auth-input" placeholder="Парола">
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <input id="submit-button" type="submit" value="Вход" />
    </form>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}