@using Core.ViewModels.User
@model RegisterUserModel
@{
}

<link rel="stylesheet" href="~/css/auth.css" />

<div class="headline-div">
    <img class="headline-icon" src="~/img/headline.png" />
    <p class="text-standard headline">@ViewData["Register"]</p>
</div>

<div id="auth-container">
    <div id="image-container">
        <img src="~/img/auth.png">
    </div>
    <form id="auth-form" method="post" asp-action="Register">
        <div asp-validation-summary="ModelOnly" class="danger"></div>
        <div class="form-group">
            <input asp-for="FirstName" class="form-control auth-input" placeholder=@ViewData["FirstName"]>
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input asp-for="LastName" class="form-control auth-input" placeholder=@ViewData["LastName"]>
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input asp-for="Email" class="form-control auth-input" placeholder=@ViewData["Email"]>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="password" asp-for="Password" class="form-control auth-input" placeholder=@ViewData["Password"]>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="password" asp-for="ConfirmPassword" class="form-control auth-input" placeholder=@ViewData["ConfirmPassword"]>
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>

        <input id="submit-button" type="submit" value=@ViewData["Register"] style="right: 5vw" />
    </form>
</div>


@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}