@using Core.ViewModels.Genre
@model IEnumerable<ListGenreModel>

    @foreach (var g in Model)
    {
        <li ><a class="dropdown-item" asp-controller="Movie" asp-action="SearchByGenre" asp-route-genresSearch=@g.Id>@g.Name (@g.MovieCount)</a> </li>
    }