.date-input {
    position: absolute;
    right: 3.906vw;
    top: 8.646vw;
}

    .date-input input {
        background: #dedede;
        border-radius: 6px;
    }

.abtn-projection {
    margin: 5px;
}

.movie-row {
    background-color: black;
    border-bottom: 2px solid #a4272d;
    height: 16.146vw;
}

    .movie-row div {
        display: inline-block;
    }

.movie-div {
    position: absolute;
    top: 11.458vw;
    right: 3.438vw;
    width: 61.926vw;
}

.movie-poster {
    width: 11.146vw;
    padding: 0.521vw;
    height: 15.729vw;
}

.movie-row p {
    margin: 0;
    display: inline;
}

.projection-group {
    position: absolute;
    bottom: -8.333vw;
    width: 50vw;
}

    .projection-group ul {
        display: inline-flex;
        list-style: none;
        position: relative;
        right: 2.083vw;
    }

        .projection-group ul button {
            font-size: 0.885vw;
        }

.format-div {
    position: relative;
    right: -3.7vw;
    bottom: 2vw;
    width: 65px;
    /* position: relative; */
    text-align: center;
}

.projection-title {
    font-size: 1.242vw;
    display: inline;
    position: relative;
}

.format-wrapper {
    width: 30px;
}

.projection-format {
    position: relative;
    right: -2.4vw;
    bottom: 2vw;
    font-size: 0.885vw;
}

.genres {
    top: 1.823vw;
}

.projection-rating {
    top: 3.385vw;
}

.movie-text {
    font-size: 0.885vw;
    display: inline;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.projection-info {
    position: relative;
    top: -2.083vw;
}

.site-content {
    height: 1020px;
}

.pagination-container {
    top: 48.323vw;
}

