html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

a {
    text-decoration: none;
}

    a:hover {
        color: white;
        border-bottom: 2px solid #a4272d;
        text-decoration: none;
    }

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: url(../img/Background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

footer {
    background-color: #050505;
    color: #a4272d;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.error-custom {
    color: #a4272d;
    background-color: #000000;
    border-color: #c1272c;
}

.site-content {
    background-color: #0d0d0d;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-left: 298px;
    position: absolute;
    box-shadow: 0 3px 10px rgb(255 0 0 / 70%);
    height: 90%;
    width: 90%;
    z-index: -1;
}

.navbar-logo {
    width: 10.417vw;
    height: 3.646vw;
}

.searchbar {
    position: absolute;
    background: #dedede;
    border: 2px solid #a4272d;
    border-radius: 10px;
    width: 14.063vw;
    right: 7.25vw;
    height: 2.083vw;
    top: 0.573vw;
}

.search-icon {
    cursor: pointer;
    right: 7.667vw;
    top: 1.02vw;
    position: absolute;
    font-size: 1.146vw;
}

    .search-icon:hover {
        color: black;
    }

.navbar {
    background-color: black;
    margin: auto;
    border-bottom: none;
    height: 3.229vw;
    /*margin-bottom: 0px;
    padding: 0px;*/
    /*border-bottom: solid 2px #a4272d;*/
    /*height: 90px;*/
}

.languages {
    position: absolute;
    right: -48vw;
    top: -0.33vw;
}

.language-form {
    position: absolute;
    top: 1vw;
    right: 49vw;
}

    .language-form select {
        display: none;
    }

.language-flag {
    height: 1.563vw;
    width: 2.344vw;
    cursor: pointer;
    margin: 0.2vw;
}

.text-standard {
    color: #a4272d;
    font-family: 'Gill Sans', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.text-information {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.unsigned {
    right: 315px;
    position: fixed;
    display: flex;
    top: 10px;
}

.headline-div {
    background-color: black;
    align-self: center;
    text-align: center;
    width: 90%;
    position: absolute;
    top: 4.167vw;
    right: 3.438vw;
    border-bottom: 3px solid #a4272d;
    font-size: 1.563vw;
}

.headline {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.headline-icon {
    position: absolute;
    top: 0.885vw;
    height: 1.51vw;
    right: 0.833vw;
}

.nav-headline {
    padding-left: 1.563vw;
    font-size: 1.354vw;
}

.notification-icon {
    height: 1.563vw;
    width: 2.344vw;
    top: 0.885vw;
    right: 24.271vw;
    position: absolute;
}

.admin-icon {
    height: 1.667vw;
    width: 1.719vw;
    position: absolute;
    right: 27.448vw;
    top: 0.833vw;
}

.notification-counter {
    border-radius: 50%;
    width: 0.885vw;
    height: 0.885vw;
    background: #fff;
    border: none;
    color: #a4272d;
    text-align: center;
    font: 0.677vw Arial, sans-serif;
    position: absolute;
    right: 23.958vw;
    top: 1.719vw;
    font-weight: 800;
    padding: 0;
    z-index: 1;
}

.profile-icon {
    width: 25px;
    height: 32px;
}

.user-menu {
    padding-left: 42px;
}

.action {
    position: absolute;
    top: 0.833vw;
    right: 21.9vw;
}

    .action .profile {
        position: relative;
        width: 1.302vw;
        height: 1.667vw;
        cursor: pointer;
    }

        .action .profile img {
            position: absolute;
            width: 100%;
            height: 100%;
        }

    .action .menu {
        position: absolute;
        z-index: 999;
        top: 50px;
        right: -20px; /*зависи колко надясно е иконката!!!*/
        padding: 10px 20px;
        background: #dedede;
        width: 200px;
        border-radius: 10px;
        visibility: hidden;
        opacity: 0;
        padding-left: 0;
        align-items: center;
    }

        .action .menu.active {
            visibility: visible;
            opacity: 1;
        }

        .action .menu h4 {
            width: 100%;
            text-align: center;
            font-size: 18px;
            padding: 10px;
            line-height: 1rem;
            margin-left: 10px;
        }

        .action .menu ul li {
            list-style: none;
            padding-left: 42px;
            padding-bottom: 12px;
            align-items: center;
        }

        .action .menu::before {
            content: '';
            position: absolute;
            top: -5px;
            right: 22px; /*зависи колко надясно е иконката!!!*/
            width: 20px;
            height: 20px;
            background: #dedede;
            transform: rotate(45deg);
        }

        .action .menu ul li a {
            display: inline-block;
            text-decoration: none;
            color: #555;
            font-weight: 500;
        }

        .action .menu ul li:hover a {
            color: #a4272d;
        }

.pagination li {
    font-family: 'Gill Sans', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 5px;
    font-size: 1.154vw
}

.pagination-container {
    position: absolute;
    top: 39.323vw;
    right: 32.135vw;
}

.active-page {
    color: white;
}

.nonactive-page {
    color: #a4272d;
}


.tooltipC {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

    .tooltipC .tooltiptext {
        visibility: hidden;
        width: 6.25vw;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        bottom: 80%;
        left: 50%;
        margin-left: -3.125vw;
        opacity: 0;
        transition: opacity 0.3s;
        margin-bottom: 0.9vw;
        font-size: 0.833vw;
    }

        .tooltipC .tooltiptext::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #555 transparent transparent transparent;
        }

    .tooltipC:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
    }