@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/index.css" />

<div class="headline-div">
    <img class="headline-icon" src="~/img/headline.png" />
    <p class="text-standard headline">ПОПУЛЯРНИ В МОМЕНТА</p>
</div>

<div id="movie-container" class="card-deck d-flex justify-content-center movie-container">
    @for (int i = 0; i < 3; i++)
    {
        <div class="card mb-4 movie">
            <img class="movie-poster" src="~/img/sample-poster.jpg" />
            <div class="movie-info" hidden>
                <h3 class="text-info">Заглавие</h3>
                <p class="text-info">2015</p>
                <p class="text-info">137 мин.</p>
                <p class="text-info">Драма, фентъзи</p>
            </div>
        </div>
    }
</div>

<script type="text/javascript">
    let movieInfoElements=document.querySelectorAll('.card');
    movieInfoElements.forEach(mi=>mi.addEventListener('mouseover', ()=>{
        console.log('success');
        let infoElement=mi.querySelector('.movie-info');
        infoElement.removeAttribute('hidden');
    }));

    movieInfoElements.forEach(mi=>mi.addEventListener('mouseout', ()=>{
        console.log('success');
        let infoElement=mi.querySelector('.movie-info');
        infoElement.setAttribute('hidden', true);
    }));


</script>
