@model System.Boolean

@if (Model)
{
    <li class="nav-item">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index">
                <img class="admin-icon" src="~/img/admin-icon.png">
            </a>
        </li>
}